<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(~{::title})">
    <title>Home</title>
</head>

<body style="background-color: #F2F2F2">
<br />
<div class="layui-container">

    <div class="layui-row">
        <div class="layui-col-xs4 layui-col-sm7 layui-col-md8">
            <div class="grid-demo layui-bg-green">|</div>
            <br />
            <blockquote class="layui-elem-quote">The topic you've ever done</blockquote>
            <table class="layui-table" lay-skin="row">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>count</th>
                    <th>time</th>
                    <th>title</th>
                    <th>isRight</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="title,temp : ${titles}">
                    <td th:text="${temp.count}">1</td>
                    <td th:text="${#dates.format(title.date,'yy-MM-dd')}">2016-11-29</td>
                    <td th:text="${title.getTopicDescription()}">人生就像是一场修行</td>
                    <td th:text="${title.isRight()}">人生就像是一场修行</td>
                </tr>
                <tr>
                    <td th:text="|...|">人生就像是一场修行</td>
                    <td th:text="|get more...|">1</td>
                    <td th:text="|Please contact me|">2016-11-29</td>
                    <td><a th:href="@{https://www.hellooooo.top/}">click.</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="layui-col-xs4 layui-col-sm5 layui-col-md4">
            <div class="grid-demo layui-bg-black">|</div>
            <div style="padding: 20px; background-color: #F2F2F2;">
                <div class="layui-card">
                    <div class="layui-card-header" th:text="|${session.user.getUsername()} , Can I help you?|"></div>
                    <div class="layui-card-body">
                        <div th:if="${session.user.roles == 'admin'}">
                            <i class="layui-icon layui-icon-home"></i>&nbsp;&nbsp;<a href="/titles/admin/index" th:href="@{/titles/admin/manage}">admin index</a><br>
                        </div>
                        <i class="layui-icon layui-icon-read"></i>&nbsp;&nbsp;<a href="/titles/" th:href="@{/titles/}">Let's start!</a><br>
                        <i class="layui-icon layui-icon-logout"></i>&nbsp;&nbsp;<a href="/titles/user/logout" th:href="@{/titles/user/logout}">logout</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!--/*/<th:block th:replace="fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });


</script>
</html>
