<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(~{::title})">
    <title>Exercise</title>
</head>

<body style="background-color: #F2F2F2">

<div class="layui-container">

        <div class="layui-row">
            <div class="layui-col-xs4 layui-col-sm7 layui-col-md8">
                <div class="grid-demo layui-bg-green">|</div>
                <br />
                <form class="layui-form" action="">
                    <th:block th:each="title:${titles}">
                        <blockquote class="layui-elem-quote" th:text="${title.getTopicDescription()}"></blockquote>
                        <div class="layui-form-item" th:if="${methodType == 'multiple'}">
                            <div class="layui-input-block">
                                <input type="checkbox" th:each="option,step:${options}" th:title="${option}" th:value="${step.count}" name="answer" title="写作" checked>
                            </div>
                        </div>

                        <div class="layui-form-item" th:if="${methodType == 'single'}">
                            <div class="layui-input-block">
                                <div th:each="option,step:${options}">
                                    <input type="radio" name="answer" checked th:value="${step.count}" th:title="|${step.count}.${option}|" value="男" title="男">
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <a th:href="@{/titles/exercise/{methodType}(methodType=${methodType})}" hidden id="beforeBtn"></a>
                                <button class="layui-btn" lay-submit lay-filter="formDemo">submit</button>
                                <button type="reset" class="layui-btn layui-btn-primary">reset</button>
                            </div>
                        </div>
                    </th:block>
                </form>
            </div>

            <div class="layui-col-xs4 layui-col-sm5 layui-col-md4">
                <div class="grid-demo layui-bg-black">|</div>
                <div style="padding: 20px; background-color: #F2F2F2;">
                    <div class="layui-card">
                        <div class="layui-card-header">Can I help you?</div>
                        <div class="layui-card-body" th:if="${session.user} != null">
                            <th:block>
                                <i class="layui-icon layui-icon-home"></i>&nbsp;&nbsp;<a href="/titles/user/home" th:href="@{/titles/user/home}">home</a><br>
                            </th:block>
                        </div>
                        <div class="layui-card-body" th:if="${session.user} == null">
                            <th:block>
                                <i class="layui-icon layui-icon-username"></i>&nbsp;&nbsp;<a href="/titles/login" th:href="@{/titles/login}">login</a><br>
                                <i class="layui-icon layui-icon-menu-fill"></i>&nbsp;&nbsp;<a href="/titles/register" th:href="@{/titles/register}">register</a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    <!--/*/<th:block th:replace="fragments :: script">/*/-->
    <!--/*/</th:block>/*/-->
    <script>
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.msg("HIHIHI")
        });

        layui.use('form', function(){
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function(data){
                layer.msg(JSON.stringify(data.field));
                window.location.href= $('#beforeBtn').attr("href");
                return false;
            });
        });

        layui.use('element', function(){
            var element = layui.element;

            //一些事件监听
            element.on('tab(demo)', function(data){
                console.log(data);
            });
        })
    </script>
</body>
</html>
