<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(~{::title})">
    <title>Exercise</title>
</head>

<body style="background-color: #F2F2F2">
<br />
<div class="layui-container">

        <div class="layui-row">
            <div class="layui-col-xs4 layui-col-sm7 layui-col-md8">
                <div class="grid-demo layui-bg-green">|</div>
                <br />
                <blockquote class="layui-elem-quote" id="quote">Hello,World.</blockquote>
                <br />
                <form class="layui-form" action="">
                    <th:block th:each="title:${titles}">
                        <fieldset class="layui-elem-field">
                            <input th:value="${title.getId()}" hidden="hidden" id="titleId"/>
                            <input th:value="${choose}" hidden="hidden" id="choose"/>
                            <legend th:text="${title.getTopicDescription()}">字段集区块 - 默认风格</legend>
                            <div class="layui-field-box">


                                <!--                                随机-->
                                <div class="layui-form-item" th:if="${methodType == 'random'}">
                                    <div class="layui-input-block" style="margin-inline: 20px;">
<!--                                        有选项，还要判断单选还是多选-->
<!--                                        就是多选-->
                                        <div th:if="${choose == 2}" th:each="option,step:${options}">
                                            <input type="checkbox" name="answer" th:value="${step.count}" th:title="${option}" value="answer" title="男">
                                        </div>

                                        <div th:if="${choose == 1}" th:each="option,step:${options}">
                                            <input type="radio" name="answer" th:value="${step.count}" th:title="${option}" value="answer" title="男">
                                        </div>
                                        <div th:if="${options == null}">
                                            <input type="radio" name="answer" value="0" title="false">
                                            <input type="radio" name="answer" value="1" title="true">
                                        </div>
                                    </div>
                                </div>

                                <!--                                判断-->
                                <div class="layui-form-item" th:if="${methodType == 'judgement'}">
                                    <div class="layui-input-block" style="margin-inline: 20px;">
                                        <input type="radio" name="answer" value="1" title="true">
                                        <input type="radio" name="answer" value="0" title="false">
                                    </div>
                                </div>

                                <!--                                多选-->
                                <div class="layui-form-item" th:if="${methodType == 'multiple'}">
                                    <div class="layui-input-block" style="margin-inline: 20px;">
                                        <div th:each="option,step:${options}">
                                            <input type="checkbox" name="answer" th:value="${step.count}" th:title="${option}" value="answer" title="男">
                                        </div>
                                    </div>
                                </div>

                                <!--                                单选-->
                                <div class="layui-form-item" th:if="${methodType == 'single'}">
                                    <div class="layui-input-block" style="margin-inline: 20px;">
                                        <div th:each="option,step:${options}">
                                            <input type="radio" name="answer" th:value="${step.count}" th:title="${option}" value="answer" title="男">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </fieldset>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <a th:href="@{/titles/exercise/{methodType}(methodType=${methodType})}" hidden id="beforeBtn"></a>
                                <button class="layui-btn" lay-submit lay-filter="submit">submit</button>
                                <button class="layui-btn" lay-submit lay-filter="next" th:if="${methodType != 'exam'}">next</button>
                                <button type="reset" class="layui-btn layui-btn-primary">reset</button>
                            </div>
                        </div>
                    </th:block>
                </form>
            </div>

            <div class="layui-col-xs4 layui-col-sm5 layui-col-md4">
                <div class="grid-demo layui-bg-black">|</div>
                <div style="padding: 20px; background-color: #F2F2F2;">
                    <div class="layui-card">
                        <div th:if="${session.user != null}">
                            <div class="layui-card-header" th:text="|${session.user.getUsername()} , Can I help you?|"></div>
                            <div class="layui-card-body">
                                <i class="layui-icon layui-icon-home"></i>&nbsp;&nbsp;<a href="/titles/user/home" th:href="@{/titles/user/home}">home</a><br>
                                <i class="layui-icon layui-icon-username"></i>&nbsp;&nbsp;<a href="/titles/user/logout" th:href="@{/titles/user/logout}">logout</a><br>
                            </div>
                        </div>
                        <div th:if="${session.user == null}">
                            <div class="layui-card-header" th:text="| Can I help you?|"></div>
                            <div class="layui-card-body">
                                <i class="layui-icon layui-icon-home"></i>&nbsp;&nbsp;<a href="/titles/" th:href="@{/titles/}">reselect</a><br/>
                                <i class="layui-icon layui-icon-username"></i>&nbsp;&nbsp;<a href="/titles/login" th:href="@{/titles/login}">login</a><br/>
                                <i class="layui-icon layui-icon-menu-fill"></i>&nbsp;&nbsp;<a href="/titles/register" th:href="@{/titles/register}">register</a><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    <!--/*/<th:block th:replace="fragments :: script">/*/-->
    <!--/*/</th:block>/*/-->
    <script>
        layui.use('form', function(){
            var form = layui.form;
            //监听提交
            form.on('submit(submit)', function(data){
                var tempHref = $('#beforeBtn').attr("href")
                //单选 或者 判断
                var str = "";
                var choose = $('#choose').val()
                if (tempHref.endsWith("single") || tempHref.endsWith("judgement")){
                    str = data.field.answer
                }else if(tempHref.endsWith("multiple")){
                    //获取复选框的值
                    $('input[name="answer"]:checked').each(function(){
                        str += $(this).val()
                    })
                //    单独处理random
                }else if (tempHref.endsWith("random")){
                    if (choose != null) {
                        if (choose == 2) {
                            $('input[name="answer"]:checked').each(function () {
                                str += $(this).val()
                            });
                        } else {
                            str = data.field.answer;
                        }
                    } else {
                        layer.alert("Error,please contact the administer")
                    }

                }
                console.log(str)
                if (str == null || str.length < 1){
                    layer.alert("No options were selected！")
                    return false;
                }
                //Ajax
                var reqData = {
                    answer: str,
                    titleId: $('#titleId').val()
                }
                $.ajax({
                    type: 'post',
                    url: '/titles/exercise/submit',
                    data: JSON.stringify(reqData),
                    dataType: 'json',
                    success: function (res) {
                        console.log(res)
                        if (res.success){
                            $('#quote').text("Congratulation!");
                        }else {
                            $('#quote').text("Regrettable.");
                        }
                        layer.msg(res.message)
                    }
                })
                return false;
            });

            //监听提交
            form.on('submit(next)', function(data){
                console.log(JSON.stringify(data.field));
                window.location.href = $('#beforeBtn').attr("href");
                return false;
            });
        });

        layui.use('element', function(){
            var element = layui.element;

            //一些事件监听
            element.on('tab(demo)', function(data){
                console.log(data);
            });
        })
    </script>
</body>
</html>
