<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(~{::title})">
    <title>Login</title>
</head>

<body style="background-color: #F2F2F2">
<br />
<div class="layui-container">

    <div class="layui-row">
        <div class="layui-col-xs4 layui-col-sm7 layui-col-md8">
            <div class="grid-demo layui-bg-green">|</div>
            <br />
            <blockquote class="layui-elem-quote">please input the username and password</blockquote>
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">username:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" required lay-verify="required" placeholder="username" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">password:</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" required lay-verify="required" placeholder="password" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">submit</button>
                        <button type="reset" class="layui-btn layui-btn-primary">reset</button>
                        <button class="layui-btn layui-btn-primary" onclick="window.history.go(-1)">back</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-col-xs4 layui-col-sm5 layui-col-md4">
            <div class="grid-demo layui-bg-black">|</div>
            <div style="padding: 20px; background-color: #F2F2F2;">
                <div class="layui-card">
                    <div class="layui-card-header">Can I help you?</div>
                    <div class="layui-card-body">
                        <i class="layui-icon layui-icon-menu-fill"></i>&nbsp;&nbsp;<a href="/titles/register" th:href="@{/titles/register}">register</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!--/*/<th:block th:replace="fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script>

    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg("wait..")
            $.ajax({
                type: 'post',
                url: '/titles/user/authenticate',
                data: JSON.stringify(data.field),
                dataType: 'json',
                success: function (res) {
                    if (res.success){
                        window.location.href="/titles/user/home"
                        return;
                    }else {
                        layer.msg(res.message)
                    }
                }
            })
            return false;
        });
    });

    layui.use('layer', function(){
        var layer = layui.layer;
        if ((document.referrer).endsWith("/register")){
            layer.msg("Register successfully, please login.");
        }
    });

</script>
</html>
